In [75]:
import pandas as pd
from cleaning_functions.cuisine_column import clean_cuisine_column
from cleaning_functions.cost_column import clean_cost_column
from cleaning_functions.coordinates_columns import coordinates_generator
from cleaning_functions.name_column import clean_name_column
from cleaning_functions.phone_column import clean_phone_column
from cleaning_functions.clean_table import clean_table
from cleaning_functions.rates_column import clean_rates
df = pd.read_csv("zomato.csv")

# Exploratory data analysis

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [78]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [21]:
df["rest_type"].unique()

array(['Casual Dining', 'Cafe, Casual Dining', 'Quick Bites',
       'Casual Dining, Cafe', 'Cafe', 'Quick Bites, Cafe',
       'Cafe, Quick Bites', 'Delivery', 'Mess', 'Dessert Parlor',
       'Bakery, Dessert Parlor', 'Pub', 'Bakery', 'Takeaway, Delivery',
       'Fine Dining', 'Beverage Shop', 'Sweet Shop', 'Bar',
       'Beverage Shop, Quick Bites', 'Confectionery',
       'Quick Bites, Beverage Shop', 'Dessert Parlor, Sweet Shop',
       'Bakery, Quick Bites', 'Sweet Shop, Quick Bites', 'Kiosk',
       'Food Truck', 'Quick Bites, Dessert Parlor',
       'Beverage Shop, Dessert Parlor', 'Takeaway', 'Pub, Casual Dining',
       'Casual Dining, Bar', 'Dessert Parlor, Beverage Shop',
       'Quick Bites, Bakery', 'Dessert Parlor, Quick Bites',
       'Microbrewery, Casual Dining', 'Lounge', 'Bar, Casual Dining',
       'Food Court', 'Cafe, Bakery', nan, 'Dhaba',
       'Quick Bites, Sweet Shop', 'Microbrewery',
       'Food Court, Quick Bites', 'Pub, Bar', 'Casual Dining, Pub',
       'Lounge, Bar', 'Food Court, Dessert Parlor',
       'Casual Dining, Sweet Shop', 'Food Court, Casual Dining',
       'Casual Dining, Microbrewery', 'Sweet Shop, Dessert Parlor',
       'Bakery, Beverage Shop', 'Lounge, Casual Dining',
       'Cafe, Food Court', 'Beverage Shop, Cafe', 'Cafe, Dessert Parlor',
       'Dessert Parlor, Cafe', 'Dessert Parlor, Bakery',
       'Microbrewery, Pub', 'Bakery, Food Court', 'Club',
       'Quick Bites, Food Court', 'Bakery, Cafe', 'Bar, Cafe',
       'Pub, Cafe', 'Casual Dining, Irani Cafee', 'Fine Dining, Lounge',
       'Bar, Quick Bites', 'Bakery, Kiosk', 'Pub, Microbrewery',
       'Microbrewery, Lounge', 'Fine Dining, Microbrewery',
       'Fine Dining, Bar', 'Mess, Quick Bites', 'Dessert Parlor, Kiosk',
       'Bhojanalya', 'Casual Dining, Quick Bites', 'Pop Up', 'Cafe, Bar',
       'Casual Dining, Lounge', 'Bakery, Sweet Shop', 'Microbrewery, Bar',
       'Cafe, Lounge', 'Bar, Pub', 'Lounge, Cafe', 'Club, Casual Dining',
       'Quick Bites, Mess', 'Quick Bites, Meat Shop',
       'Quick Bites, Kiosk', 'Lounge, Microbrewery',
       'Food Court, Beverage Shop', 'Dessert Parlor, Food Court',
       'Bar, Lounge'], dtype=object)

In [86]:
df2=df.copy()
pd.isnull(df.loc[0, 'cuisines'])

False

In [67]:
# df2['rest_type'] = df2['rest_type'].apply(lambda x, y : y.strip() for y in str(x).split(','))
df2['rest_type'].apply(x.strip() for x in str(df.loc['rest_type']).split(","))

KeyError: 'rest_type'

In [56]:
df2["rest_type"]

0               [Casual Dining]
1               [Casual Dining]
2        [Cafe,  Casual Dining]
3                 [Quick Bites]
4               [Casual Dining]
                  ...
51712                     [Bar]
51713                     [Bar]
51714                     [Bar]
51715                     [Bar]
51716     [Bar,  Casual Dining]
Name: rest_type, Length: 51717, dtype: object

In [84]:
df["cuisines"].isna()

0        False
1        False
2        False
3        False
4        False
         ...
51712    False
51713    False
51714    False
51715    False
51716    False
Name: cuisines, Length: 51717, dtype: bool

In [87]:
def categories_counter_list(df:pd.DataFrame,column_name:str):
    
    dictionary = {}
    for x in df.index:
        if pd.notnull(df.loc[x, column_name]):
            list_of_types = [y.strip() for y in str(df.loc[x, column_name]).split(",")]
            for y in list_of_types:
                if y not in dictionary.keys():
                    dictionary[y] = 1
                else:
                    dictionary[y] += 1
    dictionary = dict(sorted(dictionary.items(), key=lambda item: item[1], reverse=True))
    # dictionary["All"] = 0 
    return dictionary

In [88]:
restaurant_types = categories_counter_list(df,'rest_type')
restaurant_types

{'Quick Bites': 20639,
 'Casual Dining': 13057,
 'Cafe': 5074,
 'Delivery': 4641,
 'Dessert Parlor': 3211,
 'Bar': 2457,
 'Takeaway': 2157,
 'Bakery': 1998,
 'Beverage Shop': 1471,
 'Pub': 950,
 'Food Court': 765,
 'Sweet Shop': 745,
 'Lounge': 555,
 'Fine Dining': 405,
 'Microbrewery': 390,
 'Mess': 274,
 'Kiosk': 192,
 'Food Truck': 84,
 'Confectionery': 47,
 'Club': 41,
 'Dhaba': 40,
 'Irani Cafee': 15,
 'Meat Shop': 4,
 'Bhojanalya': 3,
 'Pop Up': 2}

In [89]:
cuisine_types = categories_counter_list(df,'cuisines')
cuisine_types

{'North Indian': 21085,
 'Chinese': 15547,
 'South Indian': 8644,
 'Fast Food': 8096,
 'Biryani': 6492,
 'Continental': 5765,
 'Desserts': 5633,
 'Cafe': 5303,
 'Beverages': 4747,
 'Italian': 3389,
 'Bakery': 2840,
 'Street Food': 2595,
 'Pizza': 2073,
 'Burger': 2009,
 'Seafood': 1810,
 'Ice Cream': 1774,
 'Andhra': 1760,
 'Mughlai': 1570,
 'Rolls': 1470,
 'American': 1461,
 'Kerala': 1454,
 'Asian': 1295,
 'Momos': 1276,
 'Finger Food': 1219,
 'Juices': 1144,
 'Salad': 1138,
 'Arabian': 1099,
 'Kebab': 1036,
 'Mithai': 1027,
 'Thai': 1000,
 'Healthy Food': 917,
 'Sandwich': 877,
 'BBQ': 736,
 'European': 715,
 'Mangalorean': 688,
 'Bengali': 575,
 'Steak': 573,
 'Mediterranean': 555,
 'Mexican': 539,
 'Tea': 395,
 'Japanese': 349,
 'Tibetan': 349,
 'Hyderabadi': 330,
 'Chettinad': 206,
 'Rajasthani': 183,
 'Lebanese': 175,
 'Vietnamese': 172,
 'Modern Indian': 155,
 'Korean': 143,
 'Maharashtrian': 139,
 'Coffee': 138,
 'Oriya': 135,
 'Goan': 114,
 'Malaysian': 109,
 'Middle Eastern': 106,
 'Gujarati': 102,
 'Indonesian': 101,
 'Bihari': 92,
 'Turkish': 92,
 'Charcoal Chicken': 88,
 'French': 87,
 'Nepalese': 87,
 'Konkan': 81,
 'Afghan': 64,
 'North Eastern': 57,
 'Wraps': 56,
 'Lucknowi': 55,
 'Burmese': 55,
 'Tex-Mex': 52,
 'Singaporean': 47,
 'Spanish': 46,
 'Sushi': 46,
 'Bar Food': 39,
 'Greek': 38,
 'Kashmiri': 33,
 'Iranian': 29,
 'Awadhi': 29,
 'Parsi': 29,
 'Assamese': 26,
 'Naga': 25,
 'Grill': 24,
 'Roast Chicken': 21,
 'South American': 20,
 'African': 17,
 'Sri Lankan': 15,
 'Mongolian': 12,
 'Paan': 12,
 'Drinks Only': 11,
 'Portuguese': 11,
 'Bubble Tea': 10,
 'Afghani': 8,
 'Tamil': 7,
 'British': 7,
 'German': 7,
 'Bohri': 6,
 'Cantonese': 6,
 'Russian': 6,
 'Jewish': 6,
 'Vegan': 6,
 'Australian': 5,
 'Belgian': 4,
 'Raw Meats': 4,
 'Sindhi': 4,
 'Hot dogs': 3,
 'Pan Asian': 3,
 'Indian': 2,
 'Malwani': 2}

In [93]:
locations = categories_counter_list(df,'location')
locations

{'BTM': 5124,
 'HSR': 2523,
 'Koramangala 5th Block': 2504,
 'Whitefield': 2374,
 'JP Nagar': 2235,
 'Indiranagar': 2083,
 'Jayanagar': 1926,
 'Marathahalli': 1846,
 'Bannerghatta Road': 1630,
 'Bellandur': 1286,
 'Electronic City': 1258,
 'Koramangala 1st Block': 1238,
 'Brigade Road': 1218,
 'Koramangala 7th Block': 1181,
 'Koramangala 6th Block': 1156,
 'Sarjapur Road': 1065,
 'Ulsoor': 1023,
 'Koramangala 4th Block': 1017,
 'MG Road': 918,
 'Banashankari': 906,
 'Kalyan Nagar': 853,
 'Richmond Road': 812,
 'Frazer Town': 727,
 'Malleshwaram': 725,
 'Basavanagudi': 684,
 'Residency Road': 675,
 'Banaswadi': 664,
 'Brookefield': 658,
 'New BEL Road': 649,
 'Kammanahalli': 648,
 'Rajajinagar': 591,
 'Church Street': 569,
 'Lavelle Road': 529,
 'Shanti Nagar': 511,
 'Shivajinagar': 499,
 'Domlur': 496,
 'Cunningham Road': 491,
 'Old Airport Road': 446,
 'Ejipura': 439,
 'Commercial Street': 370,
 'St. Marks Road': 352,
 'Koramangala 8th Block': 320,
 'Vasanth Nagar': 295,
 'Jeevan Bhima Nagar': 272,
 'Wilson Garden': 246,
 'Bommanahalli': 238,
 'Koramangala 3rd Block': 216,
 'Kumaraswamy Layout': 195,
 'Thippasandra': 194,
 'Basaveshwara Nagar': 191,
 'Nagawara': 187,
 'Seshadripuram': 165,
 'Hennur': 161,
 'Majestic': 155,
 'HBR Layout': 153,
 'Infantry Road': 151,
 'Race Course Road': 139,
 'City Market': 126,
 'Yeshwantpur': 119,
 'Varthur Main Road': 117,
 'ITPL Main Road': 113,
 'South Bangalore': 107,
 'Koramangala 2nd Block': 102,
 'Hosur Road': 102,
 'Kaggadasapura': 101,
 'CV Raman Nagar': 90,
 'Vijay Nagar': 80,
 'RT Nagar': 80,
 'Sanjay Nagar': 76,
 'Sadashiv Nagar': 63,
 'Sahakara Nagar': 53,
 'Koramangala': 48,
 'East Bangalore': 44,
 'Jalahalli': 38,
 'Magadi Road': 34,
 'Rammurthy Nagar': 32,
 'Langford Town': 27,
 'Sankey Road': 27,
 'Mysore Road': 22,
 'Old Madras Road': 22,
 'Kanakapura Road': 19,
 'KR Puram': 18,
 'Uttarahalli': 17,
 'North Bangalore': 14,
 'Hebbal': 14,
 'Nagarbhavi': 9,
 'Kengeri': 9,
 'Central Bangalore': 8,
 'West Bangalore': 6,
 'Yelahanka': 6,
 'Jakkur': 3,
 'Rajarajeshwari Nagar': 2,
 'Peenya': 1}

In [92]:
df["location"].unique()

array(['Banashankari', 'Basavanagudi', 'Mysore Road', 'Jayanagar',
       'Kumaraswamy Layout', 'Rajarajeshwari Nagar', 'Vijay Nagar',
       'Uttarahalli', 'JP Nagar', 'South Bangalore', 'City Market',
       'Nagarbhavi', 'Bannerghatta Road', 'BTM', 'Kanakapura Road',
       'Bommanahalli', nan, 'CV Raman Nagar', 'Electronic City', 'HSR',
       'Marathahalli', 'Sarjapur Road', 'Wilson Garden', 'Shanti Nagar',
       'Koramangala 5th Block', 'Koramangala 8th Block', 'Richmond Road',
       'Koramangala 7th Block', 'Jalahalli', 'Koramangala 4th Block',
       'Bellandur', 'Whitefield', 'East Bangalore', 'Old Airport Road',
       'Indiranagar', 'Koramangala 1st Block', 'Frazer Town', 'RT Nagar',
       'MG Road', 'Brigade Road', 'Lavelle Road', 'Church Street',
       'Ulsoor', 'Residency Road', 'Shivajinagar', 'Infantry Road',
       'St. Marks Road', 'Cunningham Road', 'Race Course Road',
       'Commercial Street', 'Vasanth Nagar', 'HBR Layout', 'Domlur',
       'Ejipura', 'Jeevan Bhima Nagar', 'Old Madras Road', 'Malleshwaram',
       'Seshadripuram', 'Kammanahalli', 'Koramangala 6th Block',
       'Majestic', 'Langford Town', 'Central Bangalore', 'Sanjay Nagar',
       'Brookefield', 'ITPL Main Road, Whitefield',
       'Varthur Main Road, Whitefield', 'KR Puram',
       'Koramangala 2nd Block', 'Koramangala 3rd Block', 'Koramangala',
       'Hosur Road', 'Rajajinagar', 'Banaswadi', 'North Bangalore',
       'Nagawara', 'Hennur', 'Kalyan Nagar', 'New BEL Road', 'Jakkur',
       'Rammurthy Nagar', 'Thippasandra', 'Kaggadasapura', 'Hebbal',
       'Kengeri', 'Sankey Road', 'Sadashiv Nagar', 'Basaveshwara Nagar',
       'Yeshwantpur', 'West Bangalore', 'Magadi Road', 'Yelahanka',
       'Sahakara Nagar', 'Peenya'], dtype=object)

In [2]:
def clean_dataframe():

    clean_cuisine_column(df)
    clean_cost_column(df)
    coordinates_generator(df)
    clean_name_column(df)
    clean_phone_column(df)
    clean_rates(df)
    clean_table(df)
    df.to_csv('cleaned_zomato.csv', index=False)
  
if __name__ == '__main__':
    clean_dataframe()

In [16]:
df["address"]

0        942, 21st Main Road, 2nd Stage, Banashankari, ...
1        2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...
2        1112, Next to KIMS Medical College, 17th Cross...
3        1st Floor, Annakuteera, 3rd Stage, Banashankar...
4        10, 3rd Floor, Lakshmi Associates, Gandhi Baza...
                               ...
51627    Near MVJ College, Channasandra Main Road, Oppo...
51628    Cessna Business Park, Sarjapur ÃÂÃÂÃÂÃÂ...
51632    44, Kodigehalli to Hoodi Main Road, Mahadevapu...
51677    139/C1, Next To GR Tech Park, Pattandur Agraha...
51714    Sheraton Grand Bengaluru Whitefield Hotel & Co...
Name: address, Length: 12579, dtype: object

In [18]:
df["location"].unique()

array(['Banashankari', 'Basavanagudi', 'Mysore Road', 'Jayanagar',
       'Kumaraswamy Layout', 'Rajarajeshwari Nagar', 'Vijay Nagar',
       'Uttarahalli', 'JP Nagar', 'South Bangalore', 'City Market',
       'Nagarbhavi', 'Bannerghatta Road', 'BTM', 'Kanakapura Road',
       'Bommanahalli', 'CV Raman Nagar', 'Electronic City', 'HSR',
       'Marathahalli', 'Sarjapur Road', 'Wilson Garden', 'Shanti Nagar',
       'Koramangala 5th Block', 'Koramangala 8th Block', 'Richmond Road',
       'Koramangala 7th Block', 'Jalahalli', 'Koramangala 4th Block',
       'Bellandur', 'Whitefield', 'East Bangalore', 'Old Airport Road',
       'Indiranagar', 'Koramangala 1st Block', 'Frazer Town', 'RT Nagar',
       'MG Road', 'Brigade Road', 'Lavelle Road', 'Church Street',
       'Ulsoor', 'Residency Road', 'Shivajinagar', 'Infantry Road',
       'St. Marks Road', 'Cunningham Road', 'Race Course Road',
       'Commercial Street', 'Vasanth Nagar', 'HBR Layout', 'Domlur',
       'Ejipura', 'Jeevan Bhima Nagar', 'Old Madras Road', 'Malleshwaram',
       'Seshadripuram', 'Kammanahalli', 'Koramangala 6th Block',
       'Majestic', 'Langford Town', 'Central Bangalore', 'Sanjay Nagar',
       'Brookefield', 'ITPL Main Road, Whitefield',
       'Varthur Main Road, Whitefield', 'KR Puram',
       'Koramangala 2nd Block', 'Koramangala 3rd Block', 'Koramangala',
       'Hosur Road', 'Rajajinagar', 'Banaswadi', 'North Bangalore',
       'Nagawara', 'Hennur', 'Kalyan Nagar', 'New BEL Road', 'Jakkur',
       'Rammurthy Nagar', 'Thippasandra', 'Kaggadasapura', 'Hebbal',
       'Kengeri', 'Sankey Road', 'Sadashiv Nagar', 'Basaveshwara Nagar',
       'Yeshwantpur', 'West Bangalore', 'Magadi Road', 'Yelahanka',
       'Sahakara Nagar', 'Peenya'], dtype=object)

In [19]:
df["rate"].unique()

array(['4.1', '3.8', '3.7', '3.6', '4.6', '4.0', '4.2', '3.9', '3.1',
       '3.0', '3.2', '3.3', '2.8', '4.4', '4.3', nan, '2.9', '3.5', '2.6',
       '3.4', '4.5', '2.5', '2.7', '4.7', '2.4', '2.2', '2.3', '4.8',
       '4.9', '2.1', '2.0', '1.8'], dtype=object)

In [20]:
df["cost"].unique()

array([800.0, 300.0, 600.0, 700.0, 550.0, 500.0, 450.0, 650.0, 400.0,
       900.0, 200.0, 750.0, 150.0, 850.0, 100.0, 1200.0, 350.0, 250.0,
       950.0, 1000.0, 1500.0, 1300.0, 199.0, 80.0, 1100.0, 160.0, 1600.0,
       230.0, 130.0, 50.0, 190.0, 1700.0, nan, 1400.0, 180.0, 1350.0,
       2200.0, 2000.0, 1800.0, 1900.0, 330.0, 2500.0, 2100.0, 3000.0,
       2800.0, 3400.0, 40.0, 1250.0, 3500.0, 4000.0, 2400.0, 2600.0,
       120.0, 1450.0, 469.0, 70.0, 3200.0, 60.0, 560.0, 240.0, 360.0,
       6000.0, 1050.0, 2300.0, 4100.0, 5000.0, 3700.0, 1650.0, 2700.0,
       4500.0, 140.0], dtype=object)

In [21]:
df["cuisines"].head()

0    [North Indian, Mughlai, Chinese]
1       [Chinese, North Indian, Thai]
2            [Cafe, Mexican, Italian]
3        [South Indian, North Indian]
4          [North Indian, Rajasthani]
Name: cuisines, dtype: object

In [22]:
df["latitude"].head(10)

0    12.969947
1    12.968803
2    12.968728
3    12.961944
4    12.938940
5    12.946132
6    12.941769
7    12.968620
8    12.966940
9    12.967453
Name: latitude, dtype: float64

In [23]:
df.cost = df['cost'].astype('float')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12579 entries, 0 to 51714
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           12579 non-null  object
 1   address       12579 non-null  object
 2   name          12579 non-null  object
 3   online_order  12579 non-null  object
 4   book_table    12579 non-null  object
 5   rate          9373 non-null   object
 6   votes         12579 non-null  int64
 7   phone         12579 non-null  object
 8   location      12579 non-null  object
 9   rest_type     12523 non-null  object
 10  cuisines      12579 non-null  object
 11  cost          12529 non-null  float64
 12  latitude      12579 non-null  float64
 13  longitude     12579 non-null  float64
dtypes: float64(3), int64(1), object(10)
memory usage: 1.7+ MB

In [ ]:
df.to_csv('cleaned_zomato.csv', index=False)