# Logistic Regression with Python

Spróbujemy przeprowadzić klasyfikację.

Użyjemy oczyszczonej wersji zestawu danych Titanic.

Klasy: przeżycie lub śmierć.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Dane

In [4]:
train = pd.read_csv('data/titanic_train.csv') # Do rozbicia na trening i test

# Exploratory Data Analysis

In [5]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
sns.countplot(x='Survived', data=train, palette='RdBu_r')

In [ ]:
sns.countplot(x='Survived', hue='Sex', data=train, palette='RdBu_r')

In [ ]:
sns.countplot(x='Survived', hue='Pclass', data=train, palette='rainbow')

In [ ]:
train['Age'].hist(bins=30, color='darkgreen', alpha=1)

In [ ]:
plt.clf()
train[train.Survived == 1]['Age'].hist(bins=30, color='darkgreen', alpha=1)
train[train.Survived == 0]['Age'].hist(bins=30, color='darkred', alpha=0.6)

___
## Data Cleaning

In [ ]:
plt.figure(figsize=(12, 7))
sns.boxplot(x='Pclass', y='Age', data=train, palette='winter')

In [ ]:
def impute_age(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):
        if Pclass == 1: return 37
        elif Pclass == 2: return 29
        else: return 24
    else:
        return Age

In [ ]:
train['Age'] = train[['Age','Pclass']].apply(impute_age, axis=1)

In [ ]:
train.drop(['Cabin'], axis=1, inplace=True)

In [ ]:
train.info()

## Converting Categorical Features (pd.get_dummies)

In [ ]:
sex = pd.get_dummies(train['Sex'], drop_first = True)

In [ ]:
embark = pd.get_dummies(train['Embarked'], drop_first=True)

In [ ]:
train.drop(['Sex', 'Embarked', 'Name','Ticket'], axis=1, inplace=True)

In [ ]:
train = pd.concat([train, sex, embark], axis=1)

In [ ]:
train.head()


# Budowa modelu

## Train Test Split

In [ ]:
todo

## Training and Predicting

In [ ]:
todo

## Ewaluacja

In [ ]:
todo

## Wnioski

todo