# Rain in Australia - predict next-day rain in Australia
https://www.kaggle.com/jsphyg/weather-dataset-rattle-package 

Zbiór danych zawiera około 10 lat codziennych obserwacji pogody z wielu miejsc w Australii.  
Zmienna RainTomorrow jest zmienną docelową do przewidywania. Oznacza ona - czy padało następnego dnia.  
Kolumna ma wartość Yes jeśli deszcz tego dnia wyniósł 1mm lub więcej.

In [1]:
import numpy as np
import pandas as pd

# Wczytujemy plik "weatherAUS.csv" przy użyciu bilioteki pandas
df = pd.read_csv('data/weatherAUS.csv')

# Wypisujemy wymiary wczytanego pliku
print('Wymiary wczytanego pliku:', df.shape)

# Wypisujemy pierwsze 5 wierszy DataFrame.
df[0:5]

Wymiary wczytanego pliku: (142193, 24)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No